@model Cinema
@{
    ViewData["Title"] = "Details";
}


<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Cinema Details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Add">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" src="@Model.Logo" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label mt-3"></label>
                        <input asp-for="Logo" class="form-control" readonly />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label mt-3"></label>
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-5">
                        <label asp-for="Description" class="control-label mt-3"></label>
                        <input asp-for="Description" class="form-control" readonly />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



